<form action="/register" method="POST">

  <div class="input-group mb-3">
    <span class="input-group-text"><i class="fa fa-user-o fa-fw"></i></span>
    <input type="text" name="name" value="{{ register.name }}" class="form-control {{#if errors.name }}is-invalid{{/if}}" placeholder="Enter register name..." />
    {{#if errors.name }}<div class="invalid-feedback">{{ errors.name }}</div>{{/if}}
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text"><i class="fa fa-envelope-o fa-fw"></i></span>
    <input class="email {{#if errors.email }}is-invalid{{/if}}" name="email" aria-label="register email">{{ register.email}}</input>
    {{#if errors.email }}<div class="invalid-feedback">{{ errors.email }}</div>{{/if}}
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text"><i class="fa fa-key fa-fw"></i></span>
    <input type="password" name="password" value="{{ register.password }}" class="form-control {{#if errors.password }}is-invalid{{/if}}"
      placeholder="Enter register password url..." />
    {{#if errors.password }}<div class="invalid-feedback">{{ errors.password }}</div>{{/if}}
  </div>

  <button type="submit" class="btn btn-primary">Create new User</button>
</form>