
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a href="/register" type="button" class="btn btn-dark">Register</a>
  <a href="/login" type="button" class="btn btn-primary">Login</a>
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-start">
  <a href="/tasks/new" type="button" class="btn btn-secondary mt-2">New task</a>
</div>
<hr/>

<form action="">
  <input
    type="text"
    class="form-control mb-4"
    name="author"
    placeholder="Search..."
  />
</form>

<div class="row">
  {{#each tasks as |task|}}
    <div class="col-12 col-sm-8 col-md-6 col-lg-3">
      <div class="card mb-4">
        <img src="{{task.image}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{task.title}}</h5>
          <p class="card-text">{{task.description}}</p>
          {{!-- <p class="card-text">@{{task.author}}</p> --}}
          <div class="row justify-content-center">
            <a href="tasks/{{task.id}}" class="btn btn-info mb-1">See detail</a>
            <form class="row" action="/tasks/{{task.id}}/delete" method="post">
              <button class="btn btn-danger" type="submit">Delete Task</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>

<form action="/tasks/deleteAll" method="post">
  <button class="btn btn-danger mb-4" type="submit">Clean All</button>
</form>