{{!-- <div class="first-screen">
  
  <h1>My tasks</h1>
  <ul>
    {{#each tasks as |task|}}
      <li>
        <a href="/tasks/{{task.id}}">{{task.title}}</a>
      </li>
    {{/each}}
  </ul>

  <a class="btn btn-primary" href="/tasks/new">New Task</a>
</div> --}}

<a href="/tasks/new" type="button" class="btn btn-secondary">new task</a>

<hr>

<div class="row">
    {{#each tasks as |task|}}
        <div class="col-3">
            <div class="card mb-4">
                <img src="{{task.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{task.title}}</h5>
                    <p class="card-text">{{task.description}}</p>
                    <p class="card-text">@{{task.author}}</p>
                    <a href="tasks/{{task.id}}" class="btn btn-primary">See detail</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>